/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* a{
    text-decoration: none;
} */

ul{
    list-style-type: none;
}

/* UTILS */

.debug,
.debug *{
    min-height: 150px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.219);
    border: 1px dashed red;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

}

*{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 5px 10px;
    background-color: #0064ff;
    border-color: white;
    color: white;
}

button.bg-white{
    background-color: white;
    border-color: #adadad;
    color: black;
}

/* HEADER */

header .container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 0;
}

header .box-1{
    display: inline-block;
}
header ul.special{
    margin-right: 100px;
}

header ul li{
    display: inline-block;
    line-height: 100%;
    font-size: 1.1rem;
    padding: 0 1px;
}

.text-center{
    text-align: center;
}

/* MAIN */

main>hr{
    padding: 4rem 0;
    position: relative;
    top: -1rem;
    border-top: thin;
}

/* SECTION-1 */

.dropbox{
    background-color: #b4d0e7;
}

.dropbox .container{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    position: relative;
    top: 60px;
}

.dropbox .container .title{
    font-size: xxx-large;
    margin-bottom: 2rem;
}

.dropbox .container .p-img{
    display: flex;
    justify-content: center;
}

.dropbox .container .p-img .box{
    flex-grow: 1;
}

.dropbox .container .p-img .box-large{
    flex-grow: 2;
}

/* SECTION-2 */

.business h1{
    margin: 10px auto;
    font-size: 2rem;

}

.business ul li{
    display: inline-block;
    margin: 10px auto;
    margin-right: 0px;

}

.business .container.center{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.business .container.center .row{
    width: calc(100% / 3);
}

.business .container.center .row .col ul li{
    display: flex;
}

.business .container.center .row .col ul li button{    
    margin: auto;
}

.business .row{
    padding: 1rem;
}

.business .col{
    border: 1px solid #d9d9d9;
    padding: 1rem;
}

.business span{
    color: #9b989f;
}

.col hr{
    width: 3rem;
    margin: 3rem 0;
    border: 0.1px solid #d7d7d7;
}

.large-1,
.large-2{
    border: 1px solid #d7d7d7;
    margin: 0 1rem;
}

.large-1{
    text-align: center;
    padding: 5px 0;
}

.large-2{
    position: relative;
}

.container.bottom button{
    position: absolute;
    top: 32px;
    right: 2rem;

}

.margin{
    margin: 2rem;
}

/* SECTION-3 */

.partner .container{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    margin-top: 10rem;
}

.partner .container .p-img{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.partner .container .p-img .box{
    flex-grow: 1;
    max-width: 35%;
    margin-top: 3rem;
}

.partner .container .p-img .box-large{
    flex-grow: 2;
}

.partner ul{
    margin-left: 1rem;
}
/* SECTION-4 */

.operation .container.top h1{
    margin: 3rem;
    font-size: xx-large;
} 

.operation h1{
    margin-top: 6rem;
    margin-bottom: 2rem;
}


.operation .container.bottom{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.operation .container.bottom .row{
    width: calc(100% / 3);
}

.operation .row{
    padding: 1rem;
}

.operation ul:last-child{
    margin-bottom: 6rem;
}

.operation ul li{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* FOOTER */

footer{
    background-color: black;
    padding-top: 1rem;
}

footer .container{
    margin-top: 5rem;
    color: white;
}

footer .row{
    display: flex;
    justify-content: space-around;
}

footer hr{
    margin: 3rem 0;
    width: 100px;
}

footer .language{
    padding-bottom: 3rem;
}