/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* UTILS */

.debug,
.debug *{
    min-height: 150px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.219);
    border: 1px dashed red;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

}

/* HEADER */

header .container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 0;
}

header .box-1{
    display: inline-block;
}

header ul li{
    display: inline-block;
    line-height: 100%;
}

/* MAIN */

/* SECTION-1 */

.s-1 .container{
    display: flex;
    flex-direction: column;
    background-color: #b4d0e7;
}

.s-1 .container .p-img{
    display: flex;
    justify-content: center;
}

.s-1 .container .p-img .box{
    flex-grow: 1;
}

.s-1 .container .p-img .box-large{
    flex-grow: 2;
}

/* SECTION-2 */

.s-2 h1{
    margin: 10px auto;

}

.s-2 ul li{
    display: inline-block;
    margin: 10px auto;

}

.s-2 .container.center{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.s-2 .container.center .row{
    width: calc(100% / 3);
}

.s-2 .row{
    padding: 1rem;
}

.s-2 .col{
    border: 1px solid black;
}

.large-1,
.large-2{
    border: 1px solid black;
    margin: 0 1rem;
}