/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* UTILS */

.debug,
.debug *{
    min-height: 150px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.219);
    border: 1px dashed red;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

}

/* HEADER */

header .container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 0;
}

header .box-1{
    display: inline-block;
}

header ul li{
    display: inline-block;
    line-height: 100%;
}

/* MAIN */

main .container{
    display: flex;
    flex-direction: column;
    background-color: #b4d0e7;
}

main .container .p-img{
    display: flex;
    justify-content: center;
}

main .container .p-img .box{
    flex-grow: 1;
}

.box-large{
    flex-grow: 2;
}